<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/course-style.css">
  <title>Тренажёр</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <main>

        <!-- свойства для блока, содержащего контент модального окна -->
        <%- include('blocks/log-in') -%>
        <!--  свойства для блока, содержащего контент модального окна -->



      <div class="choicecourse">
        <span>all</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
      <div class="workpanel">
      <div class ="SQL-panel">
   <div class="elem1">
   <div class="sqlsquare1">
     <p>SQL Script</p>
   </div>
     <div class="sqlsquare2">
     <p>SQL Query</p>
   </div>
     <div class="elem2">
     <button class ="clear" onclick="eraseTheText('outputSQLScript')">Очистить</button>
     <button id="run" onclick="runCode()">Выполнить</button>
     </div>
     </div>

        </div>
      <div class="SQL-container">
        
 <div class="script">
    <textarea id="outputSQLScript">
   </textarea>
 </div>
 </div>
      <div class= "bottompanel">
      <div class="output">
 <div class="panel"><nav>
     <a href="#" class="active">Data output</a>
     <a href="#">Data tables</a>
     <a href="#">Messages</a>
     </nav>
     </div>
   <p></p>
 </div>
        </div>
      </div>
      <div class="workpanel2">
         <div class = "elem3">
          <span>1. 1. Введение в SQL</span>
        </div>
        
    <div class="task">
      <div class = "taskpanel">
        <span>Задание</span>           
        </div>
    </div>
      <div class="answer">
            <div class="completed"><span>Задание выполнено!</span></div>
            <button class="continue">Дальше</button>
          </div>
 </div>
             </main>
   <%- include('blocks/footer') -%>
</div>
</body> 
</html>
