<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mainpage-style.css">
  <title>Редактор кода</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
  <div class="wrapper">
 <%- include('blocks/header') -%>
    <main>

      <!-- свойства для блока, содержащего контент модального окна -->
      <%- include('blocks/log-in') -%>
      <!--  свойства для блока, содержащего контент модального окна -->
      <p class="maintitle">Онлайн тренажер с упражнениями и курсами по SQL</p>
      <p>Освой SQL - научись создавать собственные базы данных и составлять запросы к ним</p>
      <p>Курсы по SQL</p>
      <p>Текст с описание курса по SQL</p>
      <a href="/course">Перейти к курс</a>
      <p>Онлайн-тренажер на основе SQL</p>
      <p>Текст с описание онлайн-тренажёра по SQL</p>
      <a href="/sandbox">Перейти к редактор кода</a>
    </main>

    <%- include('blocks/footer') -%>
   </div>
 </body> 
 </html>     