<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('blocks/head') -%>
    <link rel="stylesheet" href="/css/mainpage-style.css" />
    <title>Редактор кода</title>
  </head>
  <body>
    <script src="/js/code-script.js"></script>
    <div class="wrapper">
      <%- include('blocks/header') -%>
      <main>
        <!-- свойства для блока, содержащего контент модального окна -->
        <%- include('blocks/log-in') -%>
        <!--  свойства для блока, содержащего контент модального окна -->
        <p class="maintitle">Заполните бланк регистрации</p>
        <p>Поле для регистрации</p>
        <form action="/register" method="post">
          <input placeholder="логин" name="username" />
          <input placeholder="почта" name="email" />
          <input placeholder="пароль" name="password" />
          <button type="submit">button</button>
        </form>
      </main>

      <%- include('blocks/footer') -%>
    </div>
  </body>
</html>
