<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('blocks/head') -%> 
  <link rel="stylesheet" href="/css/mainpage-style.css">
  <title>Редактор кода</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
 <!-- <script src="/js/mainpage-script.js"></script> -->

  <div class="wrapper">
 <%- include('blocks/header') -%>
    <main>

      <!-- свойства для блока, содержащего контент модального окна -->
      <%- include('blocks/log-in') -%>
      <!--  свойства для блока, содержащего контент модального окна -->

    </main>

    <%- include('blocks/footer') -%>
   </div>
   <script></script>
 </body> 
 </html>     