

.courseblock {
    height: 60px;
    width: 600px;
    background-color: rgb(243, 255, 255);
    padding-left: 10px;
   /* margin-left: 10px; */
    margin-top: 10px;
    display: flex; 
}

.courselink {
    text-decoration: none;
    color:black;
}

.coursebox {
    line-height: normal;
    padding: 0;
    padding-left: 0.4em;
}

.coursename {
   padding-top: 0.4em;

   font-size: 1.3em;
   line-height: 0.9em; 
   font-weight: bold;
   margin: 0;
   color: #95a3a4;
}

.courseimage {
    width: 40px;
    height: 40px;
    background-color: red;
    margin-top: auto;
    margin-bottom: auto;
}


.coursedescription {
    font-size: 0.9em;
    line-height: 0.9em;
    margin: 0;
    color: #95a3a4;
}
#courselist {
    margin: 20px;
}