

.info_on_page {
  
}

.info_add {
  display: flex;

}

.part1 {
  font-size: 2.0em;
  font-weight: sans-serif;
  background-color: aquamarine;

}

.part2 {
  font-size: 1.5em;
  font-weight: sans-serif;
  background-color: white;

}

.part1, .part2 {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.part1 a, .part2 a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.part1 p, .part2 p {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}


.part3 {
  margin-left: auto;
  margin-right: 10px;
}

.part4 {
  margin-right: auto;
  margin-left: 10px;
}

.textcenter {
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.maintitle {
  text-align: center;

  padding-top: 340px;
  padding-bottom: 340px;
  background-color: rgb(24, 89, 187);
  color: white;
  margin:0;
}



.name_of {
  font: 40px Arial;
  text-decoration: bold;
}

.description_of {
  font: 20px Arial;
  text-decoration: bold;
}

