

.usercard {
  background-color: #f0fafc;
  width: 800px;
  height:400px;
  border-top-right-radius: 1.0rem;
  border-bottom-right-radius: 1.0rem;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  margin: 20px;
  padding: 20px;
}

.top_usercard {
  display: flex;
  /* padding-top: 25px; */
  /* margin: 25px; */
}

.username_and_mail {
  margin-left: 20px;
}

.usernameuser {
  font-size: 30px;
  text-decoration: underline;
  color: #759298;
}

.usermail {
  font-size: 20px;
  color: #95a3a4;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #EDF3F4;
}

#createdprojects {
  color: #759298;
}


#title_completed_courses {
  font-size: 25px;
  color: #759298;
}

#iconsetting {
  margin-left: auto;
}

.exitprofile {
  background-color: rgb(16, 114, 219);
  color: white;
  border: none;
  margin-left: auto;
  margin-top: auto;
  cursor: pointer;
}

.form {
  margin-left: auto;
  margin-top: auto;
}