<p>Зачастую нужны не все строки из таблицы, а какая-то их часть. Для ограничения количества возвращаемых строк в SQL существует предложение WHERE. В WHERE указывается логическое выражение, которое служит фильтром строк: в результате остаются только те строки, для которых это выражение истинно.

    Общий синтаксис SQL запроса с предложением WHERE:</p>

<p>select name from humans where age = 19</p>