<p>Зачастую нужно получить не все столбцы таблицы, а какую-то их часть. Чтобы выбрать определенные столбцы, нужно перечислить их через запятую после ключевого слова SELECT.

    Например, чтобы получить столбцы category_id и name из таблицы category, нужно написать запрос:</p>

    <p>select name from humans</p>