<p>Наступила пора сделать что-нибудь полезное. Например, получить все данные из таблицы.

  Для получения всех данных из таблицы с названием category достаточно выполнить запрос:</p>

  <p>select * from humans where age = 19</p>