<div class="tasktextcourse">Зачастую нужно получить не все столбцы таблицы, а какую-то их часть. Чтобы выбрать определенные столбцы, нужно перечислить их через запятую после ключевого слова SELECT.</div>

<div class="tasktextcourse">Например, чтобы получить столбцы category_id и name из таблицы category, нужно написать запрос:</div>

<div class="tasktextcourse">SELECT category_id, name
  FROM category</div>

  <div class="tasktextcourse"> Select name from humans</div>
