
    <span>Тетсовый образец текста, который будет изображен на странице с базами данных</span>
    <tr>
        <td>Новые данные</td>
        <td>Новые данные (еще образец)</td>
      </tr>
      <span>Тетсовый образец текста, который будет изображен на странице с базами данных</span>

      <table>
           <tr>
            <td>Новые данные</td>
            <td>Новые данные (еще образец)</td>
           </tr>
    </table>
    <ul>
        <li>Абу-Даби (ОАЭ);</li>
        <li>Абердин (Шотландия);</li>
        <li>Гуаякиль (Эквадор);</li>
        <li>Карачи (Пакистан);</li>
        <li>Баку (Азербайджан);</li>
        <li>Лейпциг (Германия);</li>
        <li>Ницца (Франция);</li>
        <li>Луанда (Ангола);</li>
        <li>Ставангер (Норвегия);</li>
        <li>Тайбэй (Тайвань);</li>
        <li>Стамбул (Турция);</li>
        <li>Перт (Австралия);</li>
        <li>Тюмень (Россия);</li>
        <li>Тампико (Мексика);</li>
        <li>Уэльва (Испания);</li>
        <li>Тиба (Япония);</li>
        <li>Шэньчжэнь (Китай);</li>
        <li>Басра (Ирак)</li>
      </ul>
