<header>
    <div class="menu"><nav>
      <div class="leftmenu">
      <a href="#">Главная</a>
      <a href="https://raynebul.github.io/course.html">Курс</a>
      <a href="https://raynebul.github.io/code-editor.html">Редактор кода</a>
        </div>
      <div class="rightmenu">
      <a href="#">Язык</a>
      <a href="#">День/Ночь</a>
      <a href="#openProfile">Профиль</a>
      </div>
      </nav>
      </div>
</header>