<header>
  <div class="menu">
    <nav>
      <div class="leftmenu">
        <a href="/">Главная</a>
        <a href="/course">Курсы</a>
        <a href="/sandbox">Проекты</a>
      </div>
      <div class="rightmenu">
        <a href="#">Язык</a>
        <a href="#">День/Ночь</a>
        <% if(username === undefined) { %>
        <a href="#openProfile">Профиль</a>
        <% } else { %>
        <a href="/user">Профиль</a>
        <% } %>
      </div>
    </nav>
  </div>
</header>
