<form action="/user" method="post">
<div id="openProfile" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="leftblocklogin">

        </div>
        <div class="rightblocklogin">
          <a href="#close" title="Close" class="close">×</a>
          <div class="login">
        <div class="modal-header">
          <h3 class="modal-title">Авторизация</h3>
        </div>
        <div class="modal-body">
          <input id="userLogin" type="text" placeholder="Введите логин или почту" name="username">
          <input id="userPassword" type="text" placeholder="Введите пароль" name="password">
          <div class="switchbox"><label class="switch" style="font-size: 0.7rem">
            <input type="checkbox">
            <span class="slider-round"></span>
          </label>
          <span id="rememberme">Запомнить меня</span>
        </div>
          <div class="modal-options">
            <button id="enter">Вход</button>
            <button class="register">Регистрация</button>
            <button class="forget">Забыли пароль?</button>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</form>